body {
    background: #8ab7f9;
  }
  
  .box {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 3%;
    height: 600px;
    width: 800px;
    z-index: 0;
  }
  
  .body {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 40%;
    height: 45%;
    background: #596bab;
    border-radius: 50%;
  }
  
  .body-copy {
    position: absolute;
    top: 25%;
    left: 21%;
    width: 38%;
    height: 45%;
    background: #596bab;
    border-radius: 50%;
    -webkit-clip-path: polygon(
      50% 0%,
      80% 10%,
      100% 35%,
      100% 70%,
      79% 84%,
      43% 88%,
      19% 82%,
      0% 70%,
      0% 35%,
      20% 10%
    );
    clip-path: polygon(
      50% 0%,
      80% 10%,
      100% 35%,
      100% 70%,
      79% 84%,
      43% 88%,
      19% 82%,
      0% 70%,
      0% 35%,
      20% 10%
    );
    z-index: 1;
  }
  
  .trunk1 {
    position: absolute;
    top: 39%;
    left: 57%;
    width: 15.5%;
    height: 25%;
    background: #596bab;
    border-radius: 50%;
    -webkit-clip-path: polygon(
      100% 36%,
      48% 72%,
      0 69%,
      0 18%,
      46% 36%,
      100% 0
    );
    clip-path: polygon(100% 36%, 48% 72%, 0 69%, 0 18%, 46% 36%, 100% 0);
    background: #596bab;
  }
  
  .trunk2 {
    position: absolute;
    top: 23.9%;
    left: 59.7%;
    width: 18%;
    height: 25%;
    background: #596bab;
    border-radius: 50%;
  
    -webkit-clip-path: polygon(
      78% 73%,
      69% 100%,
      29% 100%,
      50% 67%,
      56% 38%,
      75% 38%
    );
    clip-path: polygon(
      78% 73%,
      69% 100%,
      29% 100%,
      50% 67%,
      56% 38%,
      75% 38%
    );
  }
  
  .front-leg {
    position: absolute;
    top: 56.9%;
    right: 48%;
    width: 9%;
    height: 15%;
    background: #596bab;
    border-radius: 30px;
  }
  
  .back-leg {
    position: absolute;
    top: 56.9%;
    left: 27%;
    width: 9%;
    height: 15%;
    background: #596bab;
    border-radius: 30px;
  }
  
  .ear {
    position: absolute;
    top: 27%;
    left: 35%;
    width: 19%;
    height: 25%;
    background: #4e5d95;
    border-radius: 50px;
    -webkit-clip-path: polygon(
      45% 0,
      83% 12%,
      78% 36%,
      76% 78%,
      68% 100%,
      32% 100%,
      6% 78%,
      0% 43%,
      10% 10%
    );
    clip-path: polygon(
      45% 0,
      83% 12%,
      78% 36%,
      76% 78%,
      68% 100%,
      32% 100%,
      6% 78%,
      0% 43%,
      10% 10%
    );
    z-index: 2;
  }
  
  .eye {
    position: absolute;
    top: 35%;
    left: 52%;
    width: 4.5%;
    height: 8%;
    background: black;
    border-radius: 50%;
    z-index: 4;
  }
  
  .eye-cover {
    position: absolute;
    top: 35.9%;
    left: 52.3%;
    width: 4%;
    height: 7.6%;
    background: #596bab;
    border-radius: 50%;
    z-index: 5;
  }
  
  .peanut-bottom {
    position: absolute;
    top: 25%;
    left: 70%;
    height: 5%;
    width: 3%;
    border-radius: 50%;
    background: #e5a532;
  }
  
  .peanut-top {
    position: absolute;
    top: 21%;
    left: 70%;
    height: 5%;
    width: 3%;
    border-radius: 50%;
    background: #e5a532;
  }
  
  .peanut-shell1 {
    position: absolute;
    top: 21%;
    left: 70%;
    height: 15%;
    width: 13%;
    border-radius: 50%;
    background: #926a20;
    -webkit-clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
  
  .peanut-shell2 {
    position: absolute;
    top: 41%;
    left: 65%;
    height: 15%;
    width: 13%;
    border-radius: 50%;
    background: #926a20;
    -webkit-clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
  
  .peanut-shell3 {
    position: absolute;
    top: 21%;
    left: 50%;
    height: 15%;
    width: 13%;
    border-radius: 50%;
    background: #926a20;
    -webkit-clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
  
  .peanut-shell4 {
    position: absolute;
    top: 41%;
    left: 35%;
    height: 15%;
    width: 13%;
    border-radius: 50%;
    background: #926a20;
    -webkit-clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
  
  .peanut-shell5 {
    position: absolute;
    top: 11%;
    left: 21%;
    height: 15%;
    width: 13%;
    border-radius: 50%;
    background: #926a20;
    -webkit-clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
  
  .peanut-shell6 {
    position: absolute;
    top: 61%;
    left: 47%;
    height: 15%;
    width: 13%;
    border-radius: 50%;
    background: #926a20;
    -webkit-clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
  
  .peanut-shell7 {
    position: absolute;
    top: 67%;
    left: 52%;
    height: 15%;
    width: 13%;
    border-radius: 50%;
    background: #926a20;
    -webkit-clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
  
  .star1 {
    position: absolute;
    top: 15%;
    left: 69.5%;
    height: 5%;
    width: 4%;
    border-radius: 50%;
    background: #ffff00;
    -webkit-clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .star2 {
    position: absolute;
    top: 24%;
    left: 79%;
    height: 30%;
    width: 24%;
    border-radius: 50%;
    background: #ffff00;
    -webkit-clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
    clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation:beat .5s infinite alternate;
  }
  
  .tail {
    position: absolute;
    top: 45%;
    left: 15%;
    height: 7%;
    width: 9%;
    border-radius: 50%;
    background: #596bab;
    -webkit-clip-path: polygon(100% 34%, 100% 66%, 0 18%, 0 0);
    clip-path: polygon(100% 34%, 100% 66%, 0 18%, 0 0);
    border-radius: 20px;
    z-index: 2;
  }
  
  .heart {
    font-size: 250px;
    left: 4%;
    top: 67%;
    position: absolute;
    color: #e00;
    animation: beat .5s infinite alternate;
    transform-origin: center;
  }
  
  /* Heart beat animation */
  @keyframes beat{
    to { transform: scale(1.2); }
  }
  
  
